
<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/images/slido.png" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/code.css" />

    <script type="text/javascript">

    </script>
  </head>
  <body>
  <div class="center-text" id="text-to-copy">
    <p class="description">Access code:</p>
    <span class="text-code"><%= code %></span>
  </div>
  </body>
</html>
