<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/images/slido.png" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/no-active-lecture.css" />
  </head>
  <body>
    <div class="center-text" id="text-to-copy">
      <div
        style="display: flex; flex-direction: column; justify-content: center"
      >
        <span
          class="glyphicon glyphicon-ban-circle description"
          style="font-size: 100px; color: red; margin-bottom: 20px;"
        ></span>
        <span class="description" style="font-size: 60px">Oops!</span>
        <span class="description" style="font-size: 40px"
          >The lecture is not active.</span
        >
      </div>
    </div>
  </body>
</html>
